<div id="mycarousel" class="carousel carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag 'image_1.jpg', class: "d-block w-100 mx-auto" %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'image_2.jpg', class: "d-block w-100 mx-auto" %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'image_3.jpg', class: "d-block w-100 mx-auto" %>
    </div>
    <div class="carousel-item">
        <%= image_tag 'image_4.jpg', class: "d-block w-100 mx-auto" %>
    </div>
  </div>
</div>


<script>
$(document).ready(function () {
    $(function(){
        console.log("jkjjjjjjjjjjjjjjj")
        $('#mycarousel').carousel({
            interval : 2000,
            pause: false
        });
    })
});
</script>